
		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
					<span class="align-middle">TIRIAN TRAINS</span>
				</a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Overview
					</li>

					<li class="sidebar-item {% if 'index' in segment %} active {% endif %}">
						<a class="sidebar-link" href="/">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
						</a>
					</li>

					<li class="sidebar-item {% if 'tickets' in segment %} active {% endif %}">
						<a class="sidebar-link" href="pages-tickets.html">
							<i class="align-middle" data-feather="tickets"></i> <span class="align-middle">Ticket</span>
						</a>
					</li>

					<li class="sidebar-item {% if 'summary' in segment %} active {% endif %}">
						<a class="sidebar-link" href="pages-summary.html">
							<i class="align-middle" data-feather="book"></i> <span class="align-middle">Summary</span>
						</a>
					</li>

					<li class="sidebar-item {% if 'profile' in segment %} active {% endif %}">
						<a class="sidebar-link" href="pages-profile.html">
							<i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
						</a>
					</li>

					<li class="sidebar-header">
						Auth
					</li>                    
					<li class="sidebar-item">
						<a class="sidebar-link" href="{% url 'logout' %}">
              				<i class="align-middle" data-feather="log-out"></i> 
                                <span class="align-middle">Logout</span>
            			</a>
					</li>
				</ul>
			</div>
		</nav>
