{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

{% block content %}

<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Profile</h1>
        <div class="row">
            <div class="col-12"> <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Customer Information</h5>
                    </div>
                    <div class="card-body text-center">
                        <img src="/static/assets/img/avatars/avatar.jpg" 
                            class="img-fluid rounded-circle mb-2" width="128" height="128" />

                        <div class="text-start border-top pt-3">
                            <p class="mb-2">
                                <strong>Last Name:</strong> {{ customer.last_name }}
                            </p>
                            <p class="mb-2">
                                <strong>Given Name:</strong> {{ customer.given_name }}
                            </p>
                            <p class="mb-2">
                                <strong>Middle Initial:</strong> {{ customer.middle_initial }}
                            </p>
                            <p class="mb-2">
                                <strong>Birthdate:</strong> {{ customer.birth_date|date:"F j, Y" }}
                            </p>
                            <p class="mb-2">
                                <strong>Gender:</strong> {{ customer.gender }}
                            </p>
                        </div>
                        
                        <div class="mt-3">
                            <a class="btn btn-primary btn-sm" href="#">Change</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}